<script src="@Url.Content("~/Scripts/jquery-ui-1.8.12.custom.min.js")" type="text/javascript"></script>
<div id="searchBoxes">
@using (Html.BeginForm("Index", "Event", FormMethod.Post))
{ 
    <fieldset>
        <legend>Search events</legend>
 <label>Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = "width: 170px;" })</label>&nbsp;
<label>Category:&nbsp;&nbsp;&nbsp; @Html.TextBox("SearchCategory", ViewBag.CurrentFilter as string, new { style = "width: 170px;" })</label>&nbsp;
 <label>Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;@Html.TextBox("SearchPlace", ViewBag.CurrentFilter as string, new { style = "width: 170px;" })</label> &nbsp;
 <label>Start Date: @Html.TextBox("datepicker1", DateTime.Now.ToString("MM/dd/yyy"), new { style = "width: 170px;", id = "date1" })</label> &nbsp;
 <label>End Date:&nbsp;&nbsp;&nbsp;@Html.TextBox("datepicker2", DateTime.Now.ToString("MM/dd/yyy"), new { style = "width: 170px;", id = "date2" })</label>
 <label><input type="submit" value="Search" /></label>
 </fieldset>
}

</div>

<script type="text/javascript">
    $('#date1').datepicker();
    $('input[type=file]').change(function (e) {
        var ext = $('#my_file_field').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            alert('invalid extension! choose >> .png, .gif, .jpg');
            $('#my_file_field').val("");
        }
    });

    $('#date2').datepicker();
    $('input[type=file]').change(function () {
        var ext = jQuery('#my_file_field').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            alert('invalid extension! choose >> .png, .gif, .jpg');
            $('#my_file_field').val("");
        }
    });
</script>

